In [10]:
s=[1,2,3,4,5]
for i in s:
    print(i,)

1
2
3
4
5

In [13]:
for i in 'sam':
    print(i)

s
a
m

In [16]:
for i in 'sam':
    print(i,end="")

sam

In [17]:
a=[10,20,30,40]
10 in a

True

In [18]:
50 not in a

True

In [19]:
20 not in a

False

In [23]:
list1=[20,30,40,50,60]
list2=[70,80,90]
list1=list1 +list2
print(list1)
for i in list1:
    print(i**3)

[20, 30, 40, 50, 60, 70, 80, 90]
8000
27000
64000
125000
216000
343000
512000
729000

In [24]:
import re

In [28]:
str1="my name is sam,i came from jagtial,i like to play cricket"
m = re.findall("am",str1)
print(m)

['am', 'am', 'am']

In [30]:
str1.count('a')

6

In [32]:
x =re.search("i",str1)
print(x)

<re.Match object; span=(8, 9), match='i'>

In [43]:
y=re.split('',str1)
print(y,)

['', 'm', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 's', 'a', 'm', ',', 'i', ' ', 'c', 'a', 'm', 'e', ' ', 'f', 'r', 'o', 'm', ' ', 'j', 'a', 'g', 't', 'i', 'a', 'l', ',', 'i', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'l', 'a', 'y', ' ', 'c', 'r', 'i', 'c', 'k', 'e', 't', '']@